@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Unitform Styles Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@(Html.Kendo().Grid<UniformBuilder.MVC.Features.UniformStyle.UniformStyle>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Description);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetAllStyles", "Home"))
            .PageSize(20)
        )
)

<style>
</style>